* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FAF3DD;
    color: #2F3E46;
}

.header {
    height: 80px;
    background-color: #2F3E46;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    margin-bottom: 20px;
}

.title {
    font-size: 34px;
    font-weight: 700;
    color: white;
}

.title span {
    color: #46A497;
}

.return-button {
    position: absolute;
    left: 30px;

    background: none;
    border: none;

    color: white;
    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
}

.return-button:hover {
    color: #68B0AB;
}

.middle-section {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    padding: 35px 40px;
}

.player-box, .pokemon-box, .comparison-box {
    background-color: white;

    border-radius: 20px;

    padding: 25px;

    box-shadow: 0 4px 15px rgba(47, 62, 70, 0.12);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    min-width: 400px;
}

#player-image, #pokemon-img {
    width: 300px;
    height: 240px;

    object-fit: contain;

    display: block;
}

.player-info, .pokemon-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 100%;
    margin-top: 10px;
}

#team-logo{
    width: 75px;
    height: 75px;
}

#pokemon-type-1, #pokemon-type-2{
    width: 40px;
    height:40px;
}


#player-box-name, #pokemon-box-name {
    font-size: 21px;
    font-weight: 700;
    color: #2F3E46;
}

#player-position-and-team, #pokemon-genus{
    font-size: 20px;
    color: #527985;
}


.player-stats, .pokemon-stats {
    display: flex;

    justify-content: center;
    align-items: center;

    margin-top: 25px;

    width: 100%;
}

.stat-group {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background: none;
    border: none;

    padding: 0;
}

.player-stats {
    gap: 35px;
}

.pokemon-stats {
    gap: 25px;
}

.stat-label {
    font-size: 15px;
    font-weight: 600;

    color: #527985;
}

.stat-value {
    font-size: 21px;
    font-weight: 700;

    color: #2F3E46;

    margin-top: 2px;
}

#match-display span{
    color: #46A497;
}

.divider-line{
    display: block;
    height: 1px;
    background-color: #C7D2D0;
    width: 100%;
}

.mini-box {
    background-color: white;
    border-radius: 20px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 260px;

    border: 2px solid transparent; /* border neccesasry for transition*/

    transition: transform 0.2s ease, border-color 0.2s ease
}

.mini-box:hover {
    transform: translateY(-5px);
    border-color: #46A497;
}

.num-display{
    position: absolute;
    
    font-size: 32px;
    font-weight: 700;
   
    margin-top: 10px;
    margin-left: 20px;

    align-self: flex-start;
}

#main-num-display{
    position: absolute;
    
    font-size: 32px;
    font-weight: 700;
   
    margin-top: -10px;
    margin-left: -14px;

    align-self: flex-start;
}

.mini-box-image{
    width: 160px;
    height: 160px;

    display: block;
}

.mini-box-name{
    font-size: 24px;
    font-weight: 700;
}

.mini-box-type-1, .mini-box-type-2{
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
}

.mini-box-match-display{
    font-size: 18px;
    font-weight: 700;
}

.mini-box-match-display span{
    color: #46A497;
}

#mini-box-container{
    display: grid; 
    grid-template-columns: auto auto auto auto auto; 
    gap: 18px; 
    margin: 40px 80px 80px 80px; 
    padding-bottom: 40px
}

.mini-box-details{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.image-border {
    width: 280px;
    height: 240px;

    border: 3px solid #46A497;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    margin-bottom: 20px;
}

#player-image, #pokemon-img {
    width: 264px;
    height: 220px;

    object-fit: contain;
    display: block;
}