<!DOCTYPE html>
<html lang = "en">

<head> 
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon NBA Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href = "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel = "stylesheet">
</head>

<body style = "background-color: #FAF3DD;">

    <h1 class = "title">  NBA <span style="color: #46a497;"> Pokémon </span> Converter </h1>
    <p class = "subtitle"> Find the Pokémon statistically closest to NBA Players </p>    
    
    <div style="text-align: center; margin-top: 40px;">
    
        <div style="position: relative; display: inline-block">
            <span class = "search-icon"> ⌕ </span>
            <input type ="text" placeholder= "Enter NBA Player Name (e.g LeBron James)" id = "search-box">
        </div>

        <button id = "search-button"> Search </button>

        <div id = "autofill-container"></div>


        <div style = "margin-top: 40px; display: flex; gap: 25px; align-items: center;">
            <span class = "divider-line" style = "margin-left: 320px"> </span>
            <span class = "or"> OR </span>
            <span class = "divider-line" style = "margin-right: 320px"></span>
        </div>

        <h2 class = "title" style = "font-size: 42px; margin-top: 20px"> Browse by Team </h2>

        <p style = "margin-top: 5px; color: #527985; font-size: 18px; font-family: Poppins, sans-serif"> Select a team to view its players and find their Pokémon matches. </p>

    </div>

    <div id = "team-container" class = "grid"> </div>

    <div id = "bg-blur" class = "blur"></div>

    <div id = "box" class = "team-box">

        <button onclick= "closeBox()" class = "team-box-closer"> x </button>
        
        <div class = "team-box-header">

            <img class = "team-logo" id = "team-logo" style = "height: 75px; width: 75px"> 

            <div style = "display: flex; flex-direction: column; gap: 4px;">
                <span id= "team-box-title" class = "team-box-title"> </span>
                <span class= "team-box-subtitle" > Pick the player you wish to analyze. </span>
            </div>

        </div>

        <span class = "divider-line"> </span>

        <div class = "player-list" id = "player-list"> </div>    

        <span class = "divider-line" style = "margin-top: 12px"></span>

    </div>

    <script src = "{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>